
<header>
  <div class="title">
    <h1>Skyler Garrison</h1>
    <p>Web Developer</p>
  </div>
</header>

<main>
  <h2>Some Information about Me:</h2>

  <!-- ignore pipeline to allow file access directly from public -->
  <%= link_to "My Resume", asset_path("resume.pdf", skip_pipeline: true), target: :_blank %>
</main>

