
<header>
  <div class="title">
    <h1>Skyler Garrison</h1>
    <p>Web Developer</p>
  </div>
</header>

<main>
  <h2>Information about Me:</h2>
  <%= link_to "My Resume", asset_path("resume.pdf", skip_pipeline: true) %>
</main>

