@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-683782.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
  font-size: 80px;
  text-align: center;
  //font-weight: 300;
}
h2 {
  font-size: 2rem;
  text-align: center;
}
p {
  margin: 0;
  font-size: 30px;
  text-align: center;
  //font-weight: 300;
}

main {
  max-width: 500px;
  margin: 20px auto;
  color: black;
  position: relative;
  text-align: center;
}

/* Link Styles */
a:link {
  font-size: 80px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: red;
  text-decoration: none;
}

/* mouse over link */
a:hover {
    color: orange;
    text-decoration: none;
}

/* selected link */
a:active {
    color: red;
    text-decoration: none;
}