@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-683782.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-683782.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

//Link CSS
.fa {
  color: white;
}
.fa:visited {
  color: white;
}
.fa:hover {
  color: rgb(206, 117, 0);
}

/* Github */
.fa-github {
  color: white;
}
.fa-github:link {
  color: white;
}

/* linkedin */
.fa-linkedin {
  color: white;
  padding-left: 10%;
  padding-top: 10%;
  border-radius: 50%;
}

/* email */
.material-icons {
  position: relative;
  color: navy;
}
a:link {
  color: navy;
}
a:visited {
  color: navy;
}
a:hover {
  color: rgb(206, 117, 0);
  text-decoration: none;
}


.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
  font-size: 80px;
  text-align: center;
  //font-weight: 300;
}
h2 {
  font-size: 2rem;
  text-align: center;
}
p {
  margin: 0;
  font-size: 30px;
  text-align: center;
  //font-weight: 300;
}

main {
  max-width: 500px;
  margin: 20px auto;
  position: relative;
  text-align: center;
  background-color: #efe9f4cc;
  border-style: solid;
  border-color: navy;
  //rgb(206, 117, 0)
  max-width: 60%;
}

h1.self-description {
  padding-top: 5%;
  text-decoration: underline;
  text-decoration-color: rgb(206, 117, 0);
  color: black;
}

h2.resume {
  padding-top: 1%;
}